.sidebar {
    display: flex;
    flex-direction: column;
    transition: all .2s cubic-bezier(.215,.61,.355,1);
    align-items: center;
    width: 100%;
    flex: 1;
    position: fixed;
    z-index: 100;
    top: 0px;
    height: 100vh;
    padding: 0;
    overflow-y: scroll;
    padding-bottom: 2rem;
    background: rgb(79, 77, 77);
    border-right: solid 1px white;

}

.sidebar.closed {
    width: 60px;
}
.material-icons.md-48{
    color: aliceblue;


}