.product-card{

    border: 2px solid rgb(1, 1, 1);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    
}
.product-card .buttons {
    width: 80px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

i.material-icons.md32{
    display:flex;
    border: 5px solid rgb(85, 240, 178);
    position: relative;
    left: 80%;
    margin: 0 10px;
    font-size: 24px;
}

i.material-icons.md32:hover{
background-color: aquamarine;
}