.nav-links{
display:flex;
flex-direction: row;
justify-content: space-around;
list-style: none;
text-decoration:none;
overflow: hidden;
background-color: rgb(165, 182, 228);
width:100%;
max-width: 100vw;
}

ul{
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;   
}